:root {
  --sell-size: 64px;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #323232;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  width: calc(var(--sell-size) * 8);
  height: calc(var(--sell-size) * 8);
  flex-wrap: wrap;
  border: 16px solid #1a1a1a;
}

.cell {
  width: var(--sell-size);
  height: var(--sell-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

img[src*='/src/assets/pawn-white.svg'],
img[src*='/src/assets/pawn-black.svg'] {
  /* transform: scale(1.18); */
  transform: translateY(3px);
}

.black {
  background-color: darkslategrey;
}

.white {
  background-color: azure;
}

.selected {
  background-color: brown;
}
