:root {
  --sell-size: 64px;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #323232;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  width: calc(var(--sell-size) * 8);
  height: calc(var(--sell-size) * 8);
  flex-wrap: wrap;
  border: 16px solid #1a1a1a;
  transform: scale(1.4)
}

.cell {
  width: var(--sell-size);
  height: var(--sell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

img[src*='/src/assets/pawn-white.svg'],
img[src*='/src/assets/pawn-black.svg'] {
  transform: translateY(3px);
}

.black {
  background-color: darkslategrey;
}

.white {
  background-color: azure;
}

.selected img{
  transform: scale(1.2);
}

.available {
  opacity: .3;
}

.target {
  background-color: rgb(107, 66, 66);
}

.target img{
  opacity: .3;
}